<!DOCTYPE html>
<html>
<head th:replace="tmpl :: header(~{::title},~{::style},~{::script})">
<title>管理员列表</title>

<style type="text/css">
.layui-form-checkbox {
	margin: 5px 0px 5px 10px;
}

#resourceTree {
	padding: 10px;
}
</style>
<script type="text/html" id="isDisabledTpl">
</script>
</head>
<body>
		<form class="layui-form ">
			<input type="hidden" name="id" />
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">订单编号：</label>
					<div class="layui-input-inline">
						<input type="text" name="orderNo"
							lay-verify="required|space|normal" maxlength="32"
							 autocomplete="off"
							class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">商品CODE：</label>
					<div class="layui-input-inline">
						<input type="text" name="goodsCode"
							lay-verify="required|space|normal" maxlength="32"
							autocomplete="off" class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">评价时间：</label>
					<div class="layui-input-inline">
						<input type="text" name="evaluateTime" readonly="readonly"
							id="evaluateTime" maxlength="32" autocomplete="off"
							class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">评价用户SEQ：</label>
					<div class="layui-input-inline">
						<input type="text" name="userSeq"
							lay-verify="required|space|normal" maxlength="32"
							autocomplete="off" class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">评价内容：</label>
					<div class="layui-input-inline">
						<input type="text" name="evaluateContent"
							lay-verify="required|space|normal" maxlength="32"
							autocomplete="off" class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">评价等级：</label>
					<div class="layui-input-inline">
						<select name="evaluateLev">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">是否匿名：</label>
					<div class="layui-input-inline">
						<input type="radio" name="isAnonymous" value="0" title="否" checked />
						<input type="radio" name="isAnonymous" value="1" title="是" />
					</div>
				</div>
			</div>
			<div class="layui-form-item" style="display: none">
				<div class="layui-inline">
					<label class="layui-form-label">是否置顶：</label>
					<div class="layui-input-inline">
						<input type="radio" name="isTop" value="0" title="否" checked /> <input
							type="radio" name="isTop" value="1" title="是" />
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-form-item center">
					<div class="layui-inline">
						<button class="layui-btn" lay-submit lay-filter="submit">提交</button>
						<button type="reset" class="layui-btn btn-close layui-btn-primary">关闭</button>
					</div>
				</div>
		</form>
</body>
</html>