<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head th:replace="tmpl :: header(~{::title},~{::style},~{::script})">
<title>品类详情</title>
<script th:inline="javascript">
var categoryDetails = '[[${categoryDetails}]]';
</script>
<style type="text/css">
.layui-form-checkbox {
	margin: 5px 0px 5px 10px;
}

.layui-unselect {
	width: 125px;
	margin-left: 25px
}

th {
	background-color: #F8F8F8;
	color: #333;
	width: 80px;
}
td{
width: 120px;
}

#resourceTree {
	padding: 10px;
}
</style>

</head>
<body>
	<div class="layui-form">
		<table class="layui-table" style="margin-top: 0.5px; margin-bottom: 0px">
			<tbody>
				<tr>
					<th>ID</th>
					<td th:text="${categoryDetails.id}"></td>
					<th>品类规则名称</th>
					<td th:text="${categoryDetails.categoryName}"></td>
				</tr>
				<tr>
					<th>品类范围</th>
					<td th:text="${categoryDetails.categoryRange}"></td>
					<th>品类范围明细</th>
					<td th:text="${categoryDetails.categoryRangeDetail}"></td>
				</tr>
				<tr>
					<th>是否禁用</th>
					<td id="isDisabled"></td>
					<th>使用描述</th>
					<td th:text="${categoryDetails.categoryDesc}"></td>
				</tr>
				<tr>
					<th>创建人</th>
					<td th:text="${categoryDetails.createAdmin}"></td>
					<th>创建时间</th>
					<td th:text="${categoryDetails.createTime}"></td>
				</tr>
				<tr>
					<th>最近更新人</th>
					<td th:text="${categoryDetails.updateAdmin}"></td>
					<th>更新时间</th>
					<td th:text="${categoryDetails.updateTime}"></td>
				</tr>

			</tbody>
		</table>
	</div>

</body>
</html>